body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {list-style: none;}

li {
    display: flex;
    justify-content: center;
    color: rgb(87, 87, 87);
    margin: 5px 0;
}

li * {
    margin: 0 0 0 10px;
    color: #000;
    text-align: center;
}

a {text-decoration: none;}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 146, 165, 0.432);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
}

button {
  outline: none;
  cursor: pointer;
}

.header a {display: inline-block;}

.h {
    margin: 0;
    color: aqua;
    text-shadow: 1px 1px 2px black;
}
input, select {
  border-radius: 8px;
  outline: none;
  border: 2px solid rgb(141, 141, 141);
}

#button,
#search,
#create-visit {
    border: none;
    background-color: transparent;
    color: aqua;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

#search {margin-right: 50px;}

#button:hover {cursor: pointer;}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: black; */
}

.modal{
    margin-top: 120px;
    background-color: rgb(145, 228, 228);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 20px;
    width: 500px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.modal-title {
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background-color: rgb(87, 87, 87);
  border-radius: 20px 20px 0  0;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.button-wrapper button {
  border: 1px solid #00aeff;
  border-radius: 10px;
  font-size: 14px;
  background-color: #58bae7;
  width: 100px;
}

#auth-form {
  width: 500px;
  height: 150px;
}

#auth {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.card {
    position: relative;
    background-color: #fff;
    border: 1px solid #00aeff;
    border-radius: 20px;
    width: 200px;
}
.panel-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}
#button {margin-right: 20px}

/* .card-title, .edit-title, #auth-title, .create-title, .search-title, .modal-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background-color: rgb(87, 87, 87);
    border-radius: 20px 20px 0  0;
} */

/* .card-content {
    margin: 0;
    padding: 0;
} */

/* .card button, .edit-button, #auth button, .create-button-wrapper button, .edit-buttons, .search-button, #reload-dashboard {
    border: 1px solid #00aeff;
    border-radius: 10px;
    font-size: 14px;
    background-color: #58bae7;
    outline: none;
} */

/* .edit-buttons {width: 120px;}

#auth button, .search-button {
    width: 100px;
} */

/* .card button:last-child {
    position: absolute;
    top: 4%;
    right: 1%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-color: #00aeff;
} */



/* ========================================= */

/* #edit-form, #visit-form {
    position: fixed;
    width: 500px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */

/* #visit-form * {
    margin-top: 5px;
    margin-bottom: 5px;
} */
/*
#visit-form header {
    margin-top: 0;
}

#edit-form input, #edit-form button, #edit-form label {
    margin: 5px;
}
#edit-form label, #visit-form label, #search-form label {
    color: rgb(87, 87, 87);
}
#edit-form {
    position: absolute;
    right: 32%;
    top: 12%;
}

#search-form {
    position:absolute;
    top: 13%;
    right: 40%;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-form label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* .edit-button-wrapper , .create-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
}*/

/* .edit-button-wrapper * {margin: 5px;} */

/* #auth {
    height: 120px;
    position: relative;
    padding-top: 30px;
} */
/* #auth-title, .create-title, .search-title, .modal-title{
    position: absolute;
    top: 0;
} */


.empty {
    display: block;
    width: 100%;
    color: rgb(87, 87, 87);
    text-align: center;
    font-size: 18px;
}

/* #visit-form {
    padding-top: 30px;
    padding-bottom: 15px;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
} */

/* .create-button-wrapper {
    width: 200px;
    margin: 5px;
} */

/* #reload-dashboard {
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
} */
