body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {text-decoration: none;}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 146, 165, 0.432);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 50px;
    align-items: center; 
}
.header a {display: inline-block;}

.h {
    margin: 0;
    color: aqua;
    text-shadow: 1px 1px 2px black;
}

#button {
    border: none;
    background-color: transparent;
    color: aqua;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

#button:hover {cursor: pointer;}

#root {
    display: flex;
    justify-content: center;
}

.dashboard {
    margin-top: 50px;
    background-color: rgb(145, 228, 228);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 20px;
    width: 972px;
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.card {
    background-color: #fff;
    border: 1px solid #00aeff;
    border-radius: 20px;
    width: 160px;
    height: 90px;
}